@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "~@flaticon/flaticon-uicons/css/all/all";


html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body{
  margin: 0px;
}

*{
  font-family: "Outfit", serif;
}

a{
  text-decoration: none;
}
ul,li{
  list-style: none;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 80px 40px 0px;
}

.logo{
  width: 50px;
  height: 50px;
}

.logo-container{
  display: flex;
  flex-direction: row;

}

.logo-text{
  margin-top: 7px;

}
.yellow{
  color: #e9a817;
}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px;
}

.nav-container{
  padding: 0px;
}

.nav-list-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 4px;
  margin-top: 6px;

}
.nav-list{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 70px;
}

.nav-link{
  margin: 0 10px;
  color: #222;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 18px;
}
.btn-nav-container{
  display: flex;
  gap: 8px;
}

.btn{
  border-radius: 10px;
  text-align: center;
  display: inline-flex;
  padding: 7px 25px;
}


.home-title-container{
  text-align: center;
}
.home-title-subtext{
  font-size: 18px;
  font-weight: 400;
  color: #0000007d;
  margin-top: 15px;
  margin-bottom: 0px;

}
.home-title-text{
  font-size: 70px;
  font-weight: 600;
  line-height: 1.1em;
  letter-spacing: -2px;
  margin: 0px auto 15px auto;
}



.waitlist-btn{
  background: #e9a817;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.contact-btn{
  background: #eaeced;
  font-size: 16px;
  font-weight: 500;
  color: #222222;
}

.home-title-contact{
  background: #e9a817;
  font-size: 16px;
  font-weight: 500;
  color: #fff;

}

.home-title-waitlist{
  background: #eaeced;
  font-size: 16px;
  font-weight: 500;
  color: #222222;

}

.home-image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.home-img{
  width: 1100px;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;

}

.info-bar{
  width: 100%;
  background: #e9a817;
color:white;}

.info-bar-container{
  display: flex;
  flex-direction: row;
}

.info-bar-item{
  text-align: center;
  padding: 0px 15px;
  width: 33.3%;
}

.info-bar-title{
  letter-spacing: 0.4px;
}
.info-bar-icon{
  font-size: 40px;
  margin-bottom: 20px;
}

.info-bar-section-top{
  padding-top: 50px;
  padding-bottom: 30px;
}

.home{
  margin-bottom: 20px;
}

.hyper-title-container{
  text-align: left;

}

.hyper-title{
  font-size:35px ;
}

.hyper-text{
  font-size: 18px;
  margin-top: 0px;
}

.hyper-text-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hyper-text-item{
  width: 460px;
  height: 150px;
  border-radius: 10px;
  padding: 15px 0px;

}
.hyper-icon{
  font-size: 18px;
  color: #e9a817;
  font-weight: 700;
}

.hyper-icon-text{
  margin-bottom: 0px;
}


.about-us-title{
  font-size: 35px;
}

.about-us-text{
  font-size: 18px;
}
.about-us-container{
  padding-top: 10px;
  padding-bottom: 20px;
}

.about-us-btn-container{
  text-align: center;
}

.about-us-btn{
  padding: 16px 60px;
  background: #e9a817;
  color: white;
  font-size: 25px;
  margin-top: 10px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

}

@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}
@media (max-width: 1200px) {
  .nav-list{
    padding-left: 15px;
  }
}
@media (max-width: 992px) {
  .nav-list{
    padding-left: 12px;
  }
  .nav-link{
    padding: 8px 5px;
  }
  .nav-list-container{
    padding-left: 0px;
  }
  .btn{
    padding:  7px 15px;
  }
  .home-img{
    width: 768px;
    height: 500px;
  }
  .home{
    margin-bottom: 0px;
  }
  .home-title-container{
    margin-top: 0px;
  }

}
@media (max-width: 768px) {
  .home-img{
    width: 460px;
    height: 380px;
  }

  .home-title-text{
    font-size: 40px;
  }
  .home-image-container{
    margin-top: 70px;
  }

  .nav-list-container{
    display: none;
  }
  .home-container{
    padding-top: 0px;
  }
  .nav{
    text-align: center;
    justify-content: center;
  }
  .logo-text{
    font-size: 30px;
  }



}

@media (max-width: 576px) {
  .container{
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
  }
  .home-img{
    width: 355px;
    height: 260px;
  }
  .home-title-text{
    margin-top: 15px;
    font-size: 36px;
  }
  .home-title-subtext{
    font-size: 15px;
  }
  .hyper-title{
    font-size: 25px;
  }
  .about-us-title{
    font-size: 25px;
  }
  .hyper-text{
    font-size: 16px;
  }
  .hyper-section{
    margin-bottom: 45px;
  }
  .about-us-container{
    padding-left: 10px;
    padding-right: 10px;
  }
  .hyper-text-item{
    padding-top: 0px;
  }
  .hyper-icon-text{
    margin-top: 0px;
  }

  .about-us-text{
    font-size: 16px;
  }
  .hyper-container{
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }

}








