@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body{
  margin: 0px;
}

*{
  font-family: "Outfit", serif;
}


.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.logo{
  width: 50px;
  height: 50px;
}

.logo-container{
  display: flex;
  flex-direction: row;

}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.nav-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}


button{
  border-radius: 10px;
  opacity: 1;
  background: yellow;
  color: white;
}






@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
